* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.forgot-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("https://ptit.edu.vn/wp-content/uploads/2024/06/ptit-cntt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.forgot-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forgot-subtitle {
  color: #666;
  margin-bottom: 20px;
}

.forgot-inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.forgot-button {
  width: 100%;
  padding: 10px;
  background: #b71c1c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.forgot-button:hover {
  background: #8e1515;
}
